h1{
position: absolute;
top: 381;
left: 979;
width: 408;
height: 327;
}
button{
position: absolute;
top: 441;
left: 76;
width: 720;
height: 228;
}
img{
position: absolute;
top: 108;
left: 0;
width: 772;
height: 258;
}
