h1#h1_0{
margin: 20px;
top: 30;
left: 400;
width: 640;
height: 150;
}
div#div_0{
margin: 20px;
top: 180;
left: 360;
width: 440;
height: 270;
}
p#p_0{
margin: 20px;
top: 450;
left: 360;
width: 360;
height: 90;
}
div#div_1{
margin: 20px;
top: 180;
left: 840;
width: 360;
height: 300;
}
img#img_0{
margin: 20px;
top: 180;
left: 1240;
width: 320;
height: 240;
}
p#p_1{
margin: 20px;
top: 450;
left: 840;
width: 360;
height: 90;
}
p#p_2{
margin: 20px;
top: 450;
left: 1280;
width: 280;
height: 90;
}
button#button_0{
margin: 20px;
top: 570;
left: 840;
width: 240;
height: 90;
}
