h1#h1_0{
display: flex;
position: absolute;
text-align: center;
margin: 20px;
top: 8%;
left: 41%;
width: 20%;
height: 11%;
}
div#img_0{
display: flex;
position: absolute;
text-align: center;
margin: 20px;
top: 25%;
left: 16%;
width: 25%;
height: 25%;
}
div#img_1{
display: flex;
position: absolute;
text-align: center;
margin: 20px;
top: 25%;
left: 41%;
width: 25%;
height: 19%;
}
div#img_2{
display: flex;
position: absolute;
text-align: center;
margin: 20px;
top: 13%;
left: 68%;
width: 22%;
height: 36%;
}
div#p_0{
display: flex;
position: absolute;
text-align: center;
margin: 20px;
top: 50%;
left: 50%;
width: 18%;
height: 5%;
}
div#p_1{
display: flex;
position: absolute;
text-align: center;
margin: 20px;
top: 47%;
left: 75%;
width: 14%;
height: 5%;
}
div#div_0{
display: flex;
position: absolute;
text-align: center;
margin: 20px;
top: 55%;
left: 18%;
width: 27%;
height: 22%;
}
div#p_2{
display: flex;
position: absolute;
text-align: center;
margin: 20px;
top: 63%;
left: 52%;
width: 14%;
height: 8%;
}
button#button_0{
display: flex;
position: absolute;
text-align: center;
margin: 20px;
top: 61%;
left: 77%;
width: 16%;
height: 11%;
}
@media screen and (max-width:980px){
    #container{
        display: flex;
        width:100%;
    }
}

@media screen and (max-width:700px){
    #container{
        display: block;
    }
    #container button {
        display: block;
        position: relative;
        float: none;
        width: 300px;
        top: auto;
        left: auto;
        
    }
    #container h1 {
        display: block;
        position: relative;
        float: none;
        width: 300px;
        top: auto;
        left: auto;
    }
    #container img {
        display: block;
        position: relative;
        float: none;
        width: 300px;
        top: auto;
        left: auto;
    }
    #container div {
        position: relative;
        float: none;
        width: 300px;
        top: auto;
        left: auto;
    }
    #container p {
        display: block;
        position: relative;
        float: none;
        width: 300px;
        top: auto;
        left: auto;
    }
}
